.help-card-left {
  background: #f6faff;
  border-radius: 8px;
}

.help-card-right {
  background: #faf3fd;
  border-radius: 8px;
}

.help-title {
  font-weight: 600;
  font-size: 14px;
}

.ant-modal-content {
  border-radius: 0 !important;
}

//.factory-body {
//  margin-top: 12px;
//}

.scene-card {
  min-height: 96px;
  margin-top: 16px;
  border-radius: 16px;
}
