.statistics-card,
.rank {
  border-radius: 12px;
}

.statistics-card .ant-pro-card-body {
  padding: 12px;
}

.statistics-card .ant-pro-card-statistic {
  padding: 0 24px;
}

.rank-item {
  font-size: 24px;
}

.rank-content {
  margin-left: 4px;
  font-size: 14px;
}

.rank-content-top {
  margin-left: 4px;
  color: #6f43f7;
  font-size: 16px;
}

.statistics-card-large {
  min-height: 220px;
  border-radius: 12px;
}

.statistics-card-large .ant-pro-card-body {
  padding: 12px;
}

.statistics-card-large .ant-pro-card-statistic {
  padding: 0 24px;
}
